.rpm-gauge-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
}

.rpm-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.digital-hub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.rpm-value {
    font-size: 4.5rem;
    /* Scaled down */
    font-weight: bold;
    line-height: 1;
    color: var(--color-data);
    font-feature-settings: "tnum";
    /* Tabular lining numerals to prevent jitter */
}

.rpm-label {
    font-size: 2rem;
    color: var(--color-inactive);
    letter-spacing: 2px;
    margin-top: 10px;
}

.active-arc {
    transition: d 0.1s ease-out;
    /* Smooth animation for the needle/arc */
}